<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artur Hamernik Contact</title>
</head>
<body>
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputFirstName4" class="form-label">First name</label>
    <input id="inputFirstName4" type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col-md-6">
    <label for="inputLastName4" class="form-label">Last name</label>
    <input id="inputLastName4" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="example@mail.com">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-12">Sex: </div>
  <fieldset class="row mb-3">
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadiosMan" value="man" checked>
        <label class="form-check-label" for="gridRadiosMan">
          Man
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadiosWoman" value="woman">
        <label class="form-check-label" for="gridRadiosWoman">
          Woman
        </label>
      </div>
    </div>
  </fieldset>
  <div class="col-md-10">
    <label for="inputDescription" class="form-label">Description</label><br>
    <textarea id="inputDescription" rows="6" cols="80" placeholder="Write something about yourself..."></textarea>
  </div>
  <div class="col-md-10">
    <label for="inputAge" class="form-label">Age</label><br>
    <input id="inputAge" type="number" name="age" value="18" checked>
  </div>
  <div class="col-md-6">
    <label for="inputMaritalStatus" class="form-label">Marital Status</label><br>
    <select id="inputMaritalStatus">
      <option value="single">Single</option>
      <option value="married">Married</option>
      <option value="widowed">Widowed</option>
      <option value="separated">Separated</option>
      <option value="divorced">Divorced</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
    <button type="reset" class="btn btn-secondary">Clear</button>
  </div>
</form>
<div class="scroll">
  <button class="btn btn-success">Do góry</button>
</div>
<footer class="center">
  Copyrights © Artur Hamernik | 2021
</footer>
</body>
</html>
